p:last-child {
    margin-bottom: 0;
}

p, blockquote {
    -webkit-margin-before: 0em;
    -webkit-margin-after: .6em;
}

blockquote.chorus {
    border-left: 5px solid #c00;
    padding-left: 5px;
    margin-left: 0em;
}

blockquote.bridge {
    border-left: 5px dotted #00b;
    padding-left: 5px;
    margin-left: 0em;
}

.chord, .chord-bracket {
    font-weight: bold;
}

.page {
    width: 20cm;
    height: 29cm;
    padding: 0cm;
    margin: 0cm;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    page-break-inside: avoid;
    position: relative;
}

.grids {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    float: right;
}

div.spacer {
    height: .5cm;
}

div.grids img {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    height: 100;
    width: auto;
}

div.song-page {
    padding: 0cm;
    margin: 0cm;
    border-style: solid;
    border-width: 1px;
    oflow: hidden;
    border-color: #fffff;
    page-break-inside: avoid;
    font-size: 26px;
}


img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1.book-title {
    white-space: normal;
    text-align: center;
    font-size: 1pt;
    display: inline-block;
}

h1.song-title {
    padding: 0 0 .5cm 0;
    margin: 0 0 0 0;
    white-space: nowrap;
    display: inline-block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

@media print {
    div.page{
        page-break-inside: avoid;
    }

    div.song-page{
        page-break-inside: avoid;
    }
}
